{
  "openapi": "3.0.1",
  "info": {
      "title": "Taidalos API Documentation",
      "termsOfService": "http://swagger.io/terms/",
      "contact": {
          "name": "Customer Support",
          "url": "http://www.taidalos.com",
          "email": "cs@taidalos.com"
      },
      "version": "1.0"
  },
  "externalDocs": {
      "description": "Get started with guides",
      "url": "https://taidalos.com/tags/guide/"
  },
  "servers": [
      {
          "url": "https://api.taidalos.com/"
      }
  ],
  "tags": [
      {
          "name": "Subjects",
          "description": "Operations about subjects"
      },
      {
          "name": "Media Search Configuration",
          "description": "Operations about media search configuration"
      },
      {
          "name": "Media Search",
          "description": "Operations about media search"
      }
  ],
  "paths": {
      "/v1/media-search-articles/override-disposition": {
          "post": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Override Media Search Article Risk Assessment",
              "parameters": [
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "requestBody": {
                  "description": "request body",
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/main.overrideMediaArticleDispositionRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.overrideMediaArticleDispositionResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              },
              "x-codegen-request-body-name": "request"
          }
      },
      "/v1/media-search-summaries/override-summary": {
          "post": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Override Media Search Summary",
              "parameters": [
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "requestBody": {
                  "description": "request body",
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/main.overrideMediaSearchSummaryRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.overrideMediaSearchSummaryResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              },
              "x-codegen-request-body-name": "request"
          }
      },
      "/v1/media-searches/aggregate/{media_search_id}": {
          "get": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Media Search Aggregate",
              "parameters": [
                  {
                      "name": "media_search_id",
                      "in": "path",
                      "description": "media_search_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "remove_markdown",
                      "in": "query",
                      "description": "Remove Markdown (options: true, false, default: false)",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.getMediaSearchAggregateResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/v1/media-searches/configuration/by-media-search-id/{media_search_id}": {
          "get": {
              "tags": [
                  "Media Search Configuration"
              ],
              "summary": "Media Search Config by Search ID",
              "parameters": [
                  {
                      "name": "media_search_id",
                      "in": "path",
                      "description": "media_search_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.getMediaSearchConfigResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/v1/media-searches/configuration/create-configuration": {
          "post": {
              "tags": [
                  "Media Search Configuration"
              ],
              "summary": "Create Media Search Configuration",
              "parameters": [
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "requestBody": {
                  "description": "request body",
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/main.createMediaSearchConfigRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.createSearchConfigResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              },
              "x-codegen-request-body-name": "request"
          }
      },
      "/v1/media-searches/configuration/{media_search_configuration_id}": {
          "get": {
              "tags": [
                  "Media Search Configuration"
              ],
              "summary": "Get Media Search Config",
              "parameters": [
                  {
                      "name": "media_search_configuration_id",
                      "in": "path",
                      "description": "media_search_configuration_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.getMediaSearchConfigResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/v1/media-searches/create-search": {
          "post": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Create Media Search",
              "parameters": [
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "requestBody": {
                  "description": "request body",
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/main.createMediaSearchRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.createMediaSearchResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              },
              "x-codegen-request-body-name": "request"
          }
      },
      "/v1/media-searches/execute-media-search": {
          "post": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Execute Media Search",
              "parameters": [
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "requestBody": {
                  "description": "request body",
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/main.executeMediaSearchRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.executeMediaSearchResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  },
                  "404": {
                      "description": "Not Found",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              },
              "x-codegen-request-body-name": "request"
          }
      },
      "/v1/media-searches/execution/{media_search_execution_id}": {
          "get": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Media Search Execution",
              "parameters": [
                  {
                      "name": "media_search_execution_id",
                      "in": "path",
                      "description": "media_search_execution_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "remove_markdown",
                      "in": "query",
                      "description": "Remove Markdown (options: true, false, default: false)",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.getSearchExecutionResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/v1/media-searches/find": {
          "get": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Find Media Searches",
              "parameters": [
                  {
                      "name": "page_size",
                      "in": "query",
                      "description": "Set the page size (max. 1,000)",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "page",
                      "in": "query",
                      "description": "Set the page you want to query",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "media_search_id",
                      "in": "query",
                      "description": "Filter for searches by media_search_id",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "subject_id",
                      "in": "query",
                      "description": "Filter for searches by subject_id",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "media_search_configuration_id",
                      "in": "query",
                      "description": "Filter for searches by media_search_configuration_id",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "internal_subject_id",
                      "in": "query",
                      "description": "Filter for searches by internal_subject_id",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.findMediaSearchesResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/v1/media-searches/{media_search_id}": {
          "get": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Media Search Meta-Data",
              "parameters": [
                  {
                      "name": "media_search_id",
                      "in": "path",
                      "description": "media_search_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/MediaSearchMetaAggregateResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          },
          "delete": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Delete Media Search",
              "parameters": [
                  {
                      "name": "media_search_id",
                      "in": "path",
                      "description": "media_search_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {}
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/v1/media-searches/{media_search_id}/pdf": {
          "get": {
              "tags": [
                  "Media Search"
              ],
              "summary": "Media Search PDF",
              "parameters": [
                  {
                      "name": "media_search_id",
                      "in": "path",
                      "description": "media_search_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "scope",
                      "in": "query",
                      "description": "Report scope (options: DEFAULT, EXTENDED, default: DEFAULT)",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "Basic Token",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/pdf": {
                              "schema": {
                                  "type": "string",
                                  "format": "binary"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/pdf": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/v1/sanctions-peps-watchlists/aggregate/{sanctions_peps_watchlists_id}": {
          "get": {
              "tags": [
                  "Sanctions PEPs Watchlists"
              ],
              "summary": "Get Sanctions PEPs Watchlists Aggregate",
              "parameters": [
                  {
                      "name": "sanctions_peps_watchlists_id",
                      "in": "path",
                      "description": "sanctions_peps_watchlists_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "remove_markdown",
                      "in": "query",
                      "description": "Remove Markdown (options: true, false, default: false)",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.getSanctionsPepsWatchlistsAggregateResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      },
      "/v1/subjects/create-subject": {
          "post": {
              "tags": [
                  "Subjects"
              ],
              "summary": "Create Subject",
              "description": "with this POST request you can create a new subject",
              "parameters": [
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "requestBody": {
                  "description": "request body",
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/main.createSubjectRequest"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.createSubjectResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              },
              "x-codegen-request-body-name": "request"
          }
      },
      "/v1/subjects/{subject_id}": {
          "get": {
              "tags": [
                  "Subjects"
              ],
              "summary": "Get Subject",
              "parameters": [
                  {
                      "name": "subject_id",
                      "in": "path",
                      "description": "subject_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.getSubjectResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          },
          "delete": {
              "tags": [
                  "Subjects"
              ],
              "summary": "Delete Subject",
              "parameters": [
                  {
                      "name": "subject_id",
                      "in": "path",
                      "description": "subject_id",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "<Authorization Token>",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.deleteSubjectResponse"
                              }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/main.problemJson"
                              }
                          }
                      }
                  }
              }
          }
      }
  },
  "components": {
      "schemas": {
          "MediaSearchMetaAggregateResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "description": "`data` represents the metadata item for a media search, containing details such as IDs, timestamps, and configurations.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/MediaSearchMetaAggregateResponseItem"
                          }
                      ]
                  }
              }
          },
          "MediaSearchMetaAggregateResponseItem": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string",
                      "description": "`created_at` specifies the timestamp when the entity was created, formatted as an ISO 8601 string.",
                      "example": "2020-01-01T00:00:00.000Z"
                  },
                  "created_by": {
                      "type": "string",
                      "description": "`created_by` indicates the identifier of the user who created the resource, typically a UUID.",
                      "example": "c357e592-4a89-4381-b3b3-5015a36206b2"
                  },
                  "media_search_configuration_id": {
                      "type": "string",
                      "description": "`media_search_configuration_id` is the unique identifier for a media search configuration.",
                      "example": "08f835bd-a347-4804-8c19-77f879f2972d"
                  },
                  "media_search_execution_ids": {
                      "type": "array",
                      "description": "`media_search_execution_ids` contains a list of IDs representing the executions of a media search.",
                      "example": [
                          "e592d75a-9ef7-4ed4-ab3e-0897858c5709",
                          "3981d36e-3a94-475d-adc8-6a962184e772",
                          "a997bcf8-a7ea-437d-970b-32ac3d26f47d"
                      ],
                      "items": {
                          "type": "string"
                      }
                  },
                  "media_search_id": {
                      "type": "string",
                      "description": "`media_search_id` represents the unique identifier for a media search operation.",
                      "example": "64530ff9-2a7b-427e-8f4f-a670c8c18ee6"
                  },
                  "organisation_id": {
                      "type": "string",
                      "description": "`organisation_id` represents the unique identifier of the organisation associated with the media search.",
                      "example": "123e4567-e89b-12d3-a456-426655440000"
                  },
                  "subject_id": {
                      "type": "string",
                      "description": "`subject_id` represents the unique identifier of the subject associated with the media search operation.",
                      "example": "a89c1104-9e8b-4de3-aefe-f2f4269cb2db"
                  }
              }
          },
          "main.KeyWordListResponseItem": {
              "type": "object",
              "properties": {
                  "keyword_list_id": {
                      "type": "string"
                  },
                  "keywords": {
                      "type": "array",
                      "items": {
                          "type": "string"
                      }
                  },
                  "name": {
                      "type": "string"
                  }
              }
          },
          "main.NewKeyWordListInputItem": {
              "type": "object",
              "properties": {
                  "keywords": {
                      "type": "array",
                      "example": [
                          "Fraud",
                          "Theft",
                          "Steal",
                          "Scam",
                          "Money Laundering",
                          "Sanction",
                          "Human Rights Violation",
                          "Terrorist",
                          "Organised Crime",
                          "Corrupt",
                          "Bribe",
                          "Tax Evasion",
                          "Convicted",
                          "Sentenced",
                          "Arrested",
                          "Child Labour"
                      ],
                      "items": {
                          "type": "string"
                      }
                  },
                  "name": {
                      "type": "string",
                      "example": "ESG Risk"
                  }
              }
          },
          "main.SanctionPepWatchlistSearch": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string"
                  },
                  "created_by": {
                      "$ref": "#/components/schemas/main.createdBy"
                  },
                  "organisation_id": {
                      "type": "string"
                  },
                  "sanction_pep_watchlist_id": {
                      "type": "string"
                  },
                  "sanction_pep_watchlist_search_executions": {
                      "type": "array",
                      "items": {
                          "$ref": "#/components/schemas/main.sanctionPepWatchlistSearchExecution"
                      }
                  }
              }
          },
          "main.createMediaSearchConfigRequest": {
              "type": "object",
              "properties": {
                  "data": {
                      "required": [
                          "keyword_lists",
                          "language",
                          "risk_categories"
                      ],
                      "type": "object",
                      "properties": {
                          "disambiguation_auto_risk_assessment": {
                              "type": "object",
                              "properties": {
                                  "active": {
                                      "type": "boolean",
                                      "description": "`active` indicates whether the `disambiguation_auto_risk_assessment`is active or not",
                                      "example": true
                                  },
                                  "threshold": {
                                      "type": "integer",
                                      "description": "`threshold` if an article has disambiguation match the score of thereshold or below, the article will be risk-assesses as not risky.",
                                      "example": 2
                                  }
                              },
                              "description": "`disambiguation_auto_risk_assessment` if `active` is set `true`, articles with the set disambiguation `threshold` or below will be automatically risk-assessed as not risky."
                          },
                          "keyword_lists": {
                              "type": "array",
                              "description": "`keyword_lists` contains a list of keyword list input items, each representing a group of keywords for the search configuration.",
                              "items": {
                                  "$ref": "#/components/schemas/main.NewKeyWordListInputItem"
                              }
                          },
                          "keywords": {
                              "type": "array",
                              "description": "`WARNING: keywords are deprecated - use keyword_lists instead`. Your current implementation with `keywords` is still supported.",
                              "example": [
                                  "Fraud",
                                  "Theft",
                                  "Steal",
                                  "Scam",
                                  "Money Laundering",
                                  "Sanction",
                                  "Human Rights Violation",
                                  "Terrorist",
                                  "Organised Crime",
                                  "Corrupt",
                                  "Bribe",
                                  "Tax Evasion",
                                  "Convicted",
                                  "Sentenced",
                                  "Arrested",
                                  "Child Labour"
                              ],
                              "items": {
                                  "type": "string"
                              }
                          },
                          "language": {
                              "type": "string",
                              "description": "`language` represents the language the search will be summarised in. The lanaguge and the language of the risk_categories need to match.",
                              "example": "en"
                          },
                          "look_back_period": {
                              "type": "object",
                              "description": "`look_back_period` defines the look back period. Articles that got published before the look back period (today - days specified) will be ignored.",
                              "allOf": [
                                  {
                                      "$ref": "#/components/schemas/main.lookBackPeriod"
                                  }
                              ]
                          },
                          "monitoring": {
                              "type": "object",
                              "description": "`monitoring` defines the monitoring configuration details associated with the media search configuration request.",
                              "allOf": [
                                  {
                                      "$ref": "#/components/schemas/main.monitoringInput"
                                  }
                              ]
                          },
                          "risk_categories": {
                              "type": "array",
                              "description": "`risk_categories` represents a list of risk types.",
                              "example": [
                                  "Fraud",
                                  "Money Laundering",
                                  "Sanctions",
                                  "Human Rights Abuse",
                                  "Environmental Abuse",
                                  "Terrorism",
                                  "Organized Crime",
                                  "Corruption",
                                  "Tax Crimes",
                                  "Violence",
                                  "Theft",
                                  "Discrimination",
                                  "Other"
                              ],
                              "items": {
                                  "type": "string"
                              }
                          }
                      },
                      "description": "`data` contains the parameters for configuring a media search, such as keywords, risk categories, and language."
                  }
              }
          },
          "main.createMediaSearchRequest": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "execute_immediately": {
                              "type": "boolean",
                              "description": "`execute_immediately` indicates if the media search should be executed immediately after creation.",
                              "example": true
                          },
                          "media_search_configuration_id": {
                              "type": "string",
                              "description": "`media_search_configuration_id` represents the unique identifier for the media search configuration used in the// request Search.ConfigId represents the UUID for the media search configuration associated with the request.",
                              "example": "8920772b-c7a7-42cb-8a6b-0bdfbabb8334"
                          },
                          "subject_id": {
                              "type": "string",
                              "description": "`subject_id` represents the unique identifier of the subject involved in the media search request.",
                              "example": "43a87a3d-0808-4fd2-9cd1-9dbc9c9f75e0"
                          }
                      },
                      "description": "`data` holds the request payload for creating a media search, including subject, configuration, and execution details."
                  }
              }
          },
          "main.createMediaSearchResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "media_search_execution_id": {
                              "type": "string",
                              "description": "`media_search_execution_id` represents the unique identifier for tracking the execution of a media search."
                          },
                          "media_search_id": {
                              "type": "string",
                              "description": "`media_search_id` represents the unique identifier of a created media search within the response."
                          }
                      },
                      "description": "`data` contains the media search result identifiers, including `media_search_id` and `media_search_execution_id`."
                  }
              }
          },
          "main.createSearchConfigResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "media_search_configuration_id": {
                              "type": "string",
                              "description": "`media_search_configuration_id` represents the unique identifier for a media search configuration.",
                              "example": "123e4567-e89b-12d3-a456-426614174000"
                          }
                      }
                  }
              }
          },
          "main.createSubjectPlaceRequest": {
              "type": "object",
              "properties": {
                  "description": {
                      "type": "string",
                      "description": "`description` provides a short explanation or label for the place associated with the subject.",
                      "example": "Head Office"
                  },
                  "place": {
                      "type": "string",
                      "description": "`place` represents the location associated with the subject, formatted as an address or identifier.",
                      "example": "123 Main Street, New York, USA"
                  }
              }
          },
          "main.createSubjectRequest": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "aliases": {
                              "type": "array",
                              "description": "`aliases` specifies alternative names or titles associated with the subject.",
                              "example": [
                                  "Facebook",
                                  "Instagram"
                              ],
                              "items": {
                                  "type": "string"
                              }
                          },
                          "date_of_birth": {
                              "type": "string",
                              "description": "`date_of_birth` represents the date of birth of the subject in the format YYYY-MM-DD.",
                              "example": "1980-04-07T00:00:00.000Z"
                          },
                          "date_of_incorporation": {
                              "type": "string",
                              "description": "`date_of_incorporation` represents the incorporation date of a legal entity in the format \"YYYY-MM-DD\".",
                              "example": "1980-04-07T00:00:00.000Z"
                          },
                          "industries": {
                              "type": "array",
                              "description": "`industries` represents a list of industries associated with the subject, e.g., Banking, Insurance, Telecommunications.",
                              "example": [
                                  "Banking",
                                  "Insurance",
                                  "Telecommunications"
                              ],
                              "items": {
                                  "type": "string"
                              }
                          },
                          "internal_id": {
                              "type": "string",
                              "description": "`internal_id` represents a unique identifier for the subject within an external system, such as CRM.",
                              "example": "crm_id#123456789"
                          },
                          "name": {
                              "type": "string",
                              "description": "`name` represents the name of the subject to be created.",
                              "example": "Jan Marsalek"
                          },
                          "nationalities": {
                              "type": "array",
                              "description": "`nationalities` represents the list of nationalities associated with the subject, serialized as an array of strings.",
                              "example": [
                                  "US",
                                  "UK"
                              ],
                              "items": {
                                  "type": "string"
                              }
                          },
                          "places": {
                              "type": "array",
                              "description": "`places` is a list of places associated with the subject, each defined by a description and a place identifier.",
                              "items": {
                                  "$ref": "#/components/schemas/main.createSubjectPlaceRequest"
                              }
                          },
                          "type": {
                              "type": "string",
                              "description": "`type` specifies the type of subject being created, either \"INDIVIDUAL\" or \"LEGAL_ENTITY\".",
                              "example": "INDIVIDUAL",
                              "enum": [
                                  "INDIVIDUAL",
                                  "LEGAL_ENTITY"
                              ]
                          }
                      },
                      "description": "`data` represents the primary structure containing information about a subject to be created, including details like name, type, industries, and more."
                  }
              }
          },
          "main.createSubjectResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "subject_id": {
                              "type": "string",
                              "description": "`subject_id` is the unique identifier for the created subject.",
                              "example": "123e4567-e89b-12d3-a456-426614174000"
                          }
                      },
                      "description": "`data` contains the created subject's unique identifier."
                  }
              }
          },
          "main.createdBy": {
              "type": "object",
              "properties": {
                  "user_id": {
                      "type": "string",
                      "description": "`user_id` represents the unique identifier for the user.",
                      "example": "d43a4ec2-3eb8-46ad-9ca9-09a26540968f"
                  }
              }
          },
          "main.defaultProblemContext": {
              "required": [
                  "method",
                  "path"
              ],
              "type": "object",
              "properties": {
                  "method": {
                      "type": "string",
                      "description": "`method` specifies the HTTP method (e.g., GET, POST) that was used in the problematic request.",
                      "example": "{method}"
                  },
                  "path": {
                      "type": "string",
                      "description": "`path` specifies the HTTP request path associated with the encountered problem.",
                      "example": "{path}"
                  }
              }
          },
          "main.deleteSubjectResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "media_searches_deleted_count": {
                              "type": "integer",
                              "description": "`media_searches_deleted_count` represents the number of media searches deleted during the subject deletion operation.",
                              "example": 3
                          },
                          "subject_deleted": {
                              "type": "boolean",
                              "description": "`subject_deleted` indicates whether the subject was successfully deleted in the deletion operation.",
                              "example": true
                          }
                      },
                      "description": "`data` represents the details of a deletion operation, including the count of media searches deleted and subject deletion status."
                  }
              }
          },
          "main.disposition": {
              "required": [
                  "risk"
              ],
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string",
                      "description": "`created_at` represents the timestamp when the record was created.",
                      "example": "2024-10-22T07:37:56.676Z"
                  },
                  "created_by": {
                      "type": "object",
                      "description": "`created_by` represents the user who created the media search article disposition.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.createdBy"
                          }
                      ]
                  },
                  "justification": {
                      "type": "string",
                      "description": "`justification` provides the reasoning or explanation behind a particular disposition in a media search article.",
                      "example": "Jan Marsalek, an Austrian executive and fugitive, is central to Austria's biggest espionage scandal. He is wanted by German police for alleged fraud and is believed to be in Russia. Marsalek is accused of commissioning former security officials to pass sensitive information to Russia. He fled to Moscow in 2020 and was reportedly recruited by Russian agents in 2014."
                  },
                  "media_search_article_disposition_id": {
                      "type": "string",
                      "description": "`media_search_article_disposition_id` represents the unique identifier for the disposition assigned to a media search article.",
                      "example": "f0127405-c357-469a-a145-df77c5f0810f"
                  },
                  "media_search_article_id": {
                      "type": "string",
                      "description": "`media_search_article_id` represents the unique identifier for a specific media search article.",
                      "example": "ca6993d5-c4a5-4227-a957-81a76d8279b4"
                  },
                  "media_search_execution_id": {
                      "type": "string",
                      "description": "`media_search_execution_id` represents the unique identifier for a media search execution.",
                      "example": "f0549515-ffb9-4dfd-a116-efb4143afda4"
                  },
                  "media_search_id": {
                      "type": "string",
                      "description": "`media_search_id` represents the unique identifier for a media search.",
                      "example": "4ccd19dc-c60b-4ce7-b512-bba106f1cb16"
                  },
                  "organisation_id": {
                      "type": "string",
                      "description": "`organisation_id` represents the unique identifier for an organization.",
                      "example": "d43a4ec2-3eb8-46ad-9ca9-09a26540968f"
                  },
                  "risk": {
                      "type": "string",
                      "description": "`risk` represents the risk level associated with a media search article.",
                      "enum": [
                          "RISKY",
                          "NOT_RISKY"
                      ]
                  },
                  "risk_categories": {
                      "type": "array",
                      "description": "`risk_categories` holds an array of strings that represent various risk categories associated with a media search article.",
                      "example": [
                          "Fraud",
                          "Money Laundering",
                          "Sanctions",
                          "Human Rights Abuse",
                          "Terrorism",
                          "Organized Crime",
                          "Corruption",
                          "Tax Crimes"
                      ],
                      "items": {
                          "type": "string"
                      }
                  }
              }
          },
          "main.executeMediaSearchRequest": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "media_search_id": {
                              "type": "string",
                              "description": "`media_search_id` represents the unique identifier for the media search operation."
                          }
                      },
                      "description": "`data` represents the request payload containing the `media_search_id` for executing a media search."
                  }
              }
          },
          "main.executeMediaSearchResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "media_search_execution_id": {
                              "type": "string",
                              "description": "`media_search_execution_id` represents the unique identifier for the execution of a media search operation."
                          },
                          "media_search_id": {
                              "type": "string",
                              "description": "`media_search_id` represents the unique identifier for the media search operation."
                          }
                      },
                      "description": "`data` represents the structure holding identifiers for media search and its execution results."
                  }
              }
          },
          "main.findMediaSearchResponseItem": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string"
                  },
                  "internal_subject_id": {
                      "type": "string"
                  },
                  "media_search_config_id": {
                      "type": "string"
                  },
                  "media_search_id": {
                      "type": "string"
                  },
                  "subject_id": {
                      "type": "string"
                  }
              }
          },
          "main.findMediaSearchesResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "array",
                      "items": {
                          "$ref": "#/components/schemas/main.findMediaSearchResponseItem"
                      }
                  },
                  "items_count": {
                      "type": "integer"
                  },
                  "page": {
                      "type": "integer"
                  },
                  "total": {
                      "type": "integer"
                  }
              }
          },
          "main.getMediaSearchAggregateResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "description": "`data` holds the aggregated response data, including media search details, subject information, configuration, and organisation metadata.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.getMediaSearchAggregateResponseItem"
                          }
                      ]
                  }
              }
          },
          "main.getMediaSearchAggregateResponseItem": {
              "type": "object",
              "properties": {
                  "media_search": {
                      "type": "object",
                      "description": "`media_search` represents the aggregated data related to a media search, including executions and summaries.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.mediaSearchAggregate"
                          }
                      ]
                  },
                  "media_search_configuration": {
                      "type": "object",
                      "description": "`media_search_configuration` holds the configuration details for executing a media search, including filters and limits.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.mediaSearchConfiguration"
                          }
                      ]
                  },
                  "organisation": {
                      "type": "object",
                      "description": "`organisation` holds metadata about the associated organisation, including identifiers and related details.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.organisationMeta"
                          }
                      ]
                  },
                  "subject": {
                      "type": "object",
                      "description": "`subject` holds the subject entity data, including identifiers, name, type, industries, nationalities, and more.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.subjectEntity"
                          }
                      ]
                  }
              }
          },
          "main.getMediaSearchConfigResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "description": "`data` contains the detailed configuration of a media search.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.mediaSearchConfiguration"
                          }
                      ]
                  }
              }
          },
          "main.getSanctionsPepsWatchlistsAggregateResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "$ref": "#/components/schemas/main.sanctionsPepsWatchlistsAggregate"
                  }
              }
          },
          "main.getSearchExecutionResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "description": "`data` represents the main content of the search execution response, encapsulating details about the media search execution.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.getSearchExecutionResponseItem"
                          }
                      ]
                  }
              }
          },
          "main.getSearchExecutionResponseItem": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string",
                      "description": "`created_at` represents the timestamp indicating when the resource was created."
                  },
                  "created_by": {
                      "type": "object",
                      "properties": {
                          "user_id": {
                              "type": "string",
                              "description": "`user_id` represents the unique identifier of the user who created the associated entity."
                          }
                      },
                      "description": "`created_by` represents the user who initiated or authored the entity, identified by their unique UserId."
                  },
                  "media_article_aggregates": {
                      "type": "array",
                      "description": "`media_article_aggregates` represents a collection of media article aggregates associated with a media search execution.",
                      "items": {
                          "$ref": "#/components/schemas/main.mediaArticleAggregate"
                      }
                  },
                  "media_search_config": {
                      "type": "object",
                      "properties": {
                          "media_search_configuration_id": {
                              "type": "string",
                              "description": "`media_search_configuration_id` is the unique identifier of the media search configuration."
                          },
                          "media_search_configuration_version": {
                              "type": "integer",
                              "description": "`media_search_configuration_version` specifies the version of the media search configuration."
                          }
                      },
                      "description": "`media_search_config` represents the configuration details for a media search execution."
                  },
                  "media_search_execution_id": {
                      "type": "string",
                      "description": "`media_search_execution_id` is the unique identifier for a media search execution."
                  },
                  "media_search_id": {
                      "type": "string",
                      "description": "`media_search_id` represents the unique identifier for a specific media search associated with this execution."
                  },
                  "organisation_id": {
                      "type": "string",
                      "description": "`organisation_id` represents the unique identifier for the organisation associated with the media search execution."
                  },
                  "status": {
                      "type": "string",
                      "description": "`status` represents the current state of the media search execution. Possible values: INITIATED, PENDING, PROCESSING, DONE, ERROR.",
                      "enum": [
                          "INITIATED",
                          "PENDING",
                          "PROCESSING",
                          "DONE",
                          "ERROR"
                      ]
                  },
                  "subject": {
                      "type": "object",
                      "properties": {
                          "subject_id": {
                              "type": "string",
                              "description": "`subject_id` represents the unique identifier of the subject associated with the media search execution."
                          }
                      },
                      "description": "`subject` represents the entity containing a unique identifier for a subject involved in a media search execution."
                  },
                  "updated_at": {
                      "type": "string",
                      "description": "`updated_at` represents the timestamp when the record was last modified."
                  }
              }
          },
          "main.getSubjectResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "description": "`data` holds the detailed information of a subject.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.subjectEntity"
                          }
                      ]
                  }
              }
          },
          "main.listProgram": {
              "type": "object",
              "properties": {
                  "issuer_acronym": {
                      "type": "string"
                  },
                  "issuer_flag": {
                      "type": "string"
                  },
                  "issuer_name": {
                      "type": "string"
                  },
                  "issuer_organisation": {
                      "type": "string"
                  },
                  "issuer_territory": {
                      "type": "string"
                  },
                  "measures": {
                      "type": "array",
                      "items": {
                          "type": "string"
                      }
                  },
                  "program_id": {
                      "type": "string"
                  },
                  "sort_rank": {
                      "type": "integer"
                  },
                  "summary": {
                      "type": "string"
                  },
                  "title": {
                      "type": "string"
                  },
                  "url": {
                      "type": "string"
                  }
              }
          },
          "main.listTopic": {
              "type": "object",
              "properties": {
                  "category": {
                      "type": "string"
                  },
                  "label": {
                      "type": "string"
                  },
                  "topic_id": {
                      "type": "string"
                  }
              }
          },
          "main.lookBackPeriod": {
              "type": "object",
              "properties": {
                  "days": {
                      "type": "integer",
                      "description": "`days` specifies the look back period in days, represented as an integer.\nAll articles that got published before the look back period (today - days specified) will be ignored.",
                      "example": 360
                  },
                  "is_active": {
                      "type": "boolean",
                      "description": "`is_active` indicates whether a look back period is enabled for the given configuration.",
                      "example": true
                  }
              }
          },
          "main.mediaArticle": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string",
                      "description": "`created_at` indicates the timestamp when the media article was created.",
                      "example": "2024-10-22T07:37:56.676Z"
                  },
                  "dispositions": {
                      "type": "array",
                      "description": "`dispositions` holds an array of disposition records related to the media article.",
                      "items": {
                          "$ref": "#/components/schemas/main.disposition"
                      }
                  },
                  "headline": {
                      "type": "string",
                      "description": "`headline` represents the title or main heading of the media article.",
                      "example": "Spy scandal revives fears of Austrian exposure to Russia"
                  },
                  "media_search_article_id": {
                      "type": "string",
                      "description": "`media_search_article_id` represents the unique identifier for a specific media search article.",
                      "example": "4ccd19dc-c60b-4ce7-b512-bba106f1cb16"
                  },
                  "media_search_execution_id": {
                      "type": "string",
                      "description": "`media_search_execution_id` (uuid) represents the unique identifier for a media search execution.",
                      "example": "0a1a489b-50df-41a1-920d-6c6df381031e"
                  },
                  "media_search_id": {
                      "type": "string",
                      "description": "`media_search_id` represents the unique identifier for a media search.",
                      "example": "4ccd19dc-c60b-4ce7-b512-bba106f1cb16"
                  },
                  "organisation_id": {
                      "type": "string",
                      "description": "`organisation_id` represents the unique identifier for an organization.",
                      "example": "d43a4ec2-3eb8-46ad-9ca9-09a26540968f"
                  },
                  "publication_date": {
                      "type": "string",
                      "description": "`publication_date` indicates the date when the media article was published.",
                      "example": "2024-10-22T07:37:56.676Z"
                  },
                  "rank": {
                      "type": "integer",
                      "description": "`rank` represents the position or order of the media article.",
                      "example": 1
                  },
                  "subject_match": {
                      "type": "object",
                      "description": "`subject_match` represents additional contextual information or resolution for ambiguous data fields in an article.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.subjectMatch"
                          }
                      ]
                  },
                  "url": {
                      "type": "string",
                      "description": "`url' represents the web address of the media article.",
                      "example": "https://www.wired.com/story/spy-scandal-revives-fears-austrian-exposure-russia/"
                  }
              }
          },
          "main.mediaArticleAggregate": {
              "type": "object",
              "properties": {
                  "dispositions": {
                      "type": "array",
                      "description": "`dispositions` represents a collection of disposition records related to a media article in the aggregate.",
                      "items": {
                          "$ref": "#/components/schemas/main.disposition"
                      }
                  },
                  "media_article": {
                      "type": "object",
                      "description": "`media_article` represents a media article associated with a media search execution and its related metadata.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.mediaArticle"
                          }
                      ]
                  }
              }
          },
          "main.mediaSearchAggregate": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string",
                      "description": "`created_at` represents the timestamp when the media search aggregate was created.",
                      "example": "2024-10-22T07:37:56.676Z"
                  },
                  "created_by": {
                      "type": "object",
                      "description": "`created_by` represents the user who initiated or created the record.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.createdBy"
                          }
                      ]
                  },
                  "media_search_executions": {
                      "type": "array",
                      "description": "`media_search_executions` contains an array of media search execution records related to a specific media search.",
                      "items": {
                          "$ref": "#/components/schemas/main.mediaSearchExecution"
                      }
                  },
                  "media_search_id": {
                      "type": "string",
                      "description": "`media_search_id` is a unique identifier for a media search.",
                      "example": "4ccd19dc-c60b-4ce7-b512-bba106f1cb16"
                  },
                  "media_search_summaries": {
                      "type": "array",
                      "description": "media_search_summaries contains a list of media search summary objects associated with a media search.",
                      "items": {
                          "$ref": "#/components/schemas/main.mediaSearchSummary"
                      }
                  }
              }
          },
          "main.mediaSearchConfiguration": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string",
                      "description": "`created_at` is the timestamp when the media search configuration was created.",
                      "example": "2024-10-22T07:37:56.676Z"
                  },
                  "created_by": {
                      "type": "object",
                      "description": "`created_by` represents the user who created the media search configuration.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.createdBy"
                          }
                      ]
                  },
                  "disambiguation_auto_risk_assessment": {
                      "type": "object",
                      "properties": {
                          "active": {
                              "type": "boolean",
                              "description": "`active` indicates whether the `disambiguation_auto_risk_assessment`is active or not",
                              "example": true
                          },
                          "threshold": {
                              "type": "integer",
                              "description": "`threshold` if an article has disambiguation match the score of thereshold or below, the article will be risk-assesses as not risky.",
                              "example": 2
                          }
                      },
                      "description": "`disambiguation_auto_risk_assessment` if `active` is set `true`, articles with the set disambiguation `threshold` or below will be automatically risk-assessed as not risky."
                  },
                  "is_template": {
                      "type": "boolean",
                      "description": "`is_template` indicates if this configuration is a template",
                      "example": false
                  },
                  "keyword_lists": {
                      "type": "array",
                      "description": "`keyword_lists` represents a list of keyword lists associated with the configuration.",
                      "items": {
                          "$ref": "#/components/schemas/main.KeyWordListResponseItem"
                      }
                  },
                  "keywords": {
                      "type": "array",
                      "description": "`WARNING: the field keywords is deprecated - use keyword_lists instead.` `keywords` contains all all keywords from `keyword_lists`.`",
                      "example": [
                          "Fraud",
                          "Theft",
                          "Steal",
                          "Scam",
                          "Money Laundering",
                          "Sanction",
                          "Human Rights Violation",
                          "Terrorist",
                          "Organised Crime",
                          "Corrupt",
                          "Bribe",
                          "Tax Evasion",
                          "Convicted",
                          "Sentenced",
                          "Arrested",
                          "Child Labour"
                      ],
                      "items": {
                          "type": "string"
                      }
                  },
                  "language": {
                      "type": "string",
                      "description": "`language` specifies the language used for the media search configuration.",
                      "example": "en"
                  },
                  "look_back_period": {
                      "type": "object",
                      "description": "`look_back_period` specifies the look back period for the media search configuration. All articles that got published before the look back period (today - days specified) are ignored.",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.lookBackPeriod"
                          }
                      ]
                  },
                  "max_number_of_results": {
                      "type": "integer",
                      "description": "`max_number_of_results` defines the maximum number of results allowed for a media search configuration.",
                      "example": 20
                  },
                  "media_search_configuration_id": {
                      "type": "string",
                      "description": "`media_search_configuration_id` holds the unique identifier for the media search configuration.",
                      "example": "d43a4ec2-3eb8-46ad-9ca9-09a26540968f"
                  },
                  "organisation_id": {
                      "type": "string",
                      "description": "`organisation_id` is the unique identifier of the organisation associated with the configuration",
                      "example": "07f8269e-4583-41c5-bb0e-bea37f3c0569"
                  },
                  "reference": {
                      "type": "string",
                      "description": "`reference` holds the reference which can be used for referencing the media search configuration.",
                      "example": "english_generic"
                  },
                  "risk_categories": {
                      "type": "array",
                      "description": "`risk_categories` lists the risk categories associated with the media search.",
                      "example": [
                          "Fraud",
                          "Money Laundering",
                          "Sanctions",
                          "Human Rights Abuse",
                          "Environmental Abuse",
                          "Terrorism",
                          "Organized Crime",
                          "Corruption",
                          "Tax Crimes",
                          "Violence",
                          "Theft",
                          "Discrimination",
                          "Other"
                      ],
                      "items": {
                          "type": "string"
                      }
                  },
                  "subject_names_fuzzy": {
                      "type": "string",
                      "description": "`subject_names_fuzzy` is the fuzzy matching standard for subject names",
                      "example": "STANDARD"
                  },
                  "title": {
                      "type": "string",
                      "description": "`title` represents the title of the media search configuration.",
                      "example": "English Generic"
                  },
                  "version": {
                      "type": "integer",
                      "description": "`version` represents the version number of the media search configuration.",
                      "example": 1
                  }
              }
          },
          "main.mediaSearchExecution": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string",
                      "description": "`created_at` signifies the timestamp when the media search execution record was created.",
                      "example": "2024-10-22T07:37:04.340Z"
                  },
                  "media_search_articles": {
                      "type": "array",
                      "description": "`media_search_articles` contains an array of media articles retrieved for a media search execution.",
                      "items": {
                          "$ref": "#/components/schemas/main.mediaArticle"
                      }
                  },
                  "media_search_configuration_version": {
                      "type": "integer",
                      "description": "`media_search_configuration_version` denotes the version number of the media search configuration applied during the search execution.",
                      "example": 1
                  },
                  "media_search_execution_id": {
                      "type": "string",
                      "description": "`media_search_execution_id` represents the unique identifier for a media search execution.",
                      "example": "4ccd19dc-c60b-4ce7-b512-bba106f1cb16"
                  },
                  "status": {
                      "type": "string",
                      "description": "`status` represents the status of the media search execution.",
                      "enum": [
                          "INITIATED",
                          "PENDING",
                          "PROCESSING",
                          "DONE",
                          "ERROR"
                      ]
                  }
              }
          },
          "main.mediaSearchSummary": {
              "type": "object",
              "properties": {
                  "created_at": {
                      "type": "string",
                      "description": "`created_at` represents the timestamp when the media search summary was created.",
                      "example": "2024-10-22T07:37:56.676Z"
                  },
                  "created_by": {
                      "type": "object",
                      "description": "`created_by´ represents the user who created the media search summary",
                      "allOf": [
                          {
                              "$ref": "#/components/schemas/main.createdBy"
                          }
                      ]
                  },
                  "media_search_summary_id": {
                      "type": "string",
                      "description": "`media_search_summary_id` is a unique identifier for a media search summary.",
                      "example": "6f677744-e428-4706-b51e-d9b03afc5b42"
                  },
                  "risk_categories": {
                      "type": "array",
                      "description": "`risk_categories` specifies the categories of risk associated with the media search summary.",
                      "example": [
                          "Fraud",
                          "Money Laundering",
                          "Sanctions",
                          "Human Rights Abuse",
                          "Environmental Abuse",
                          "Terrorism",
                          "Organized Crime",
                          "Corruption",
                          "Tax Crimes",
                          "Violence",
                          "Theft",
                          "Discrimination"
                      ],
                      "items": {
                          "type": "string"
                      }
                  },
                  "risky": {
                      "type": "boolean",
                      "description": "`risky` indicates whether the media search summary content is considered risky.",
                      "example": true
                  },
                  "summary": {
                      "type": "string",
                      "description": "summary provides a summary of all artciles",
                      "example": "Jan Marsalek, former COO of Wirecard, is implicated in major fraud scandals, embezzlement, espionage, and illegal financial activities. He is a fugitive with ties to Russian intelligence and military services, involved in espionage activities and financial fraud. Marsalek is wanted by multiple authorities and is considered a high-risk individual in terms of financial crimes and security threats."
                  }
              }
          },
          "main.monitoringInput": {
              "type": "object",
              "properties": {
                  "interval": {
                      "type": "string",
                      "description": "`interval` specifies the frequency of monitoring, represented as a string.",
                      "example": "WEEKLY"
                  },
                  "is_active": {
                      "type": "boolean",
                      "description": "`is_active` indicates whether monitoring is enabled for the given configuration.",
                      "example": true
                  }
              }
          },
          "main.organisationMeta": {
              "type": "object",
              "properties": {
                  "organisation_id": {
                      "type": "string",
                      "description": "`organisation_id` represents the unique identifier of the organisation.",
                      "example": "d43a4ec2-3eb8-46ad-9ca9-09a26540968f"
                  }
              }
          },
          "main.overrideMediaArticleDispositionRequest": {
              "type": "object",
              "properties": {
                  "data": {
                      "required": [
                          "justification",
                          "media_article_id",
                          "risk"
                      ],
                      "type": "object",
                      "properties": {
                          "justification": {
                              "type": "string",
                              "description": "`justification` specifies the reason or rationale for the assigned risk or disposition of the subject entity.",
                              "example": "Subject conducted fraud."
                          },
                          "media_article_id": {
                              "type": "string",
                              "description": "`media_article_id` represents the unique identifier for a media search article.",
                              "example": "123e4567-e89b-12d3-a456-426614174000"
                          },
                          "risk": {
                              "type": "string",
                              "description": "`risk` specifies the risk level associated with an entity, such as \"RISKY\" or \"NOT_RISKY\".",
                              "example": "RISKY",
                              "enum": [
                                  "RISKY",
                                  "NOT_RISKY"
                              ]
                          },
                          "risk_categories": {
                              "type": "array",
                              "description": "`risk_categories` specifies the categories of risk associated with an entity, represented as a list of descriptive strings. Risk Categories are required if the risk is set to \"RISKY\" and are not allowed if the risk is set to \"NOT_RISKY\".",
                              "example": [
                                  "Money Laundering",
                                  "Sanctions",
                                  "Human Rights Abuse"
                              ],
                              "items": {
                                  "type": "string"
                              }
                          }
                      },
                      "description": "`data` defines the structure containing justification, risk level, and associated risk categories for an entity."
                  }
              }
          },
          "main.overrideMediaArticleDispositionResponse": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "media_search_article_disposition_id": {
                              "type": "string",
                              "description": "`media_search_article_disposition_id` represents the unique identifier for the updated media search article disposition.",
                              "example": "123e4567-e89b-12d3-a456-426614174000"
                          }
                      },
                      "description": "`data` represents the structure containing the unique identifier for the updated media search article disposition."
                  }
              }
          },
          "main.overrideMediaSearchSummaryRequest": {
              "type": "object",
              "properties": {
                  "data": {
                      "type": "object",
                      "properties": {
                          "media_search_id": {
                              "type": "string",
                              "description": "`media_search_id` uniquely identifies a media search process within the override request payload.",
                              "example": "123e4567-e89b-12d3-a456-426614174000"
                          },
                          "risk_categories": {
                              "type": "array",
                              "description": "`risk_categories` represents a list of risk categories associated with the media search.",
                              "example": [
                                  "Money Laundering",
                                  "Sanctions",
                                  "Human Rights Abuse"
                              ],
                              "items": {
                                  "type": "string"
                              }
                          },
                          "risky": {
                              "type": "boolean",
                              "description": "`risky` indicates whether the media search is assessed as risky or not.",
                              "example": true
                          },
                          "summary": {
                              "type": "string",
[...]
